html {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dark-bg {
    background-image: url(../images/dbg.jpg);
}

.light-bg {
    background-image: url(../images/bg.jpg);
}

.main {
    width: 100%;
    margin-top: 100px;
    display: inline-flex;
    flex-direction: column;
}

.center-content {
    margin: 0 auto;
}

.profile-image {
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    height: 200px;
    border: 2px solid #000a46;
}

.dynamic-header {
    font-family: sans-serif;
    color:black;
    transition: color 2s;
}

.name{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
}

.title{
    font-weight: 100;
    font-size: 40px;
}
.dark-btn {
    background: #312f2f;
    color: white;
}

.light-btn {
    background: white;
    color: #312f2f;
}
.light-text{
    color:white;
}

.btn {
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}